BasedOnStyle: LLVM

# Tabs = 4 spaces
IndentWidth: 4
TabWidth: 4
UseTab: Always

# chaves "trailing braces"
BreakBeforeBraces: Attach

# Espaços dentro de parênteses
SpacesInParentheses: true
SpaceAfterControlStatementKeyword: true

# Espaço em cast e parênteses
SpacesInCStyleCastParentheses: true

# Espaço antes de '()' nas funções
SpaceBeforeParens: Never

# Alinhamento
AlignOperands: true
AlignAfterOpenBracket: Align
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true

# Ponteiros ao lado do tipo
PointerAlignment: Left 

# Comprimento máximo de linha
ColumnLimit: 0  

# Includes em ordem de prioridade
SortIncludes: true  
